body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(29, 45, 53);
}

h1 {
    font-size: 76px;
}

figcaption {
    font-size: 16px;
}

strong {
    font-weight: bold;
}

.background_alternate {
    background-color: rgb(251, 247, 240);
}

.preview_container {
    display: flex;
    justify-content: center;
}

.preview_image {
    max-width: 300px;
}

.image_content {
    max-width: 300px;
}

.padding_sm {
    padding: 8px;
}



/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E;
        /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF;
        /* Blue */
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: red;
        /* Red */
    }
}
