body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(29, 45, 53);
}

h1 {
    font-size: 76px;
    max-width: 100%;
}

ul {
    text-align: center;
}

figcaption {
    font-size: 16px;
}

strong {
    font-weight: bold;
}

.background_alternate {
    background-color: rgb(251, 247, 240);
}

.preview_container {
    display: flex;
    justify-content: center;
}

.preview_image {
    max-width: 300px;
}

.image_content {
    max-width: 300px;
}

.padding_sm {
    padding: 8px;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    h1 {
        font-size: 75%;
     }
    .preview_container {
        flex-direction: column;
    }

    .preview_image {
        max-width: 100%;
        width: 100%;
    }

    figure {
        margin: 0
    }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .preview_container {
        flex-direction: column;
    }

    .preview_image {
        max-width: 100%;
        width: 100%;
    }

    figure {
        margin: 0
    }
}
